@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-tenebris: rgb(21, 25, 52);
    --color-caelum: rgb(24, 182, 246);
    --color-lux: #fff;
}

@font-face {
    font-family: batman;
    src: url("../fonts/batmfo__.ttf");
}

body {
    background-color: var(--color-tenebris);
    font-family: "Lexend", sans-serif;
}

@layer components {
    
    .button{
        @apply bg-[var(--color-caelum)] py-2.5 md:py-4 px-3.5 md:px-5 text-sm md:text-base rounded-lg cursor-pointer
    }
}


